/* Slick Carousel Custom Styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide.slick-active {
  display: block;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: none;
}
